{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block page_title %} Favorite Songs {% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'favs/img/favicon.png' %}" rel="icon">
  <link href="{% static 'favs/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'favs/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'favs/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'favs/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'favs/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'favs/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'favs/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'favs/css/style.css' %}" rel="stylesheet">
  
  <!-- =======================================================
  * Template Name: Personal - v4.7.0
  * Template URL: https://bootstrapmade.com/personal-free-resume-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="container">

      <h1><a href="index.html">Favorite Songs Full Stack Web App</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="mr-auto"><img src="favs/img/logo.png" alt="" class="img-fluid"></a> -->
      <h2 class="text-muted">Done By: Batool Ragayah</h2>
      
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link" href="{% url 'fav_home' %}">Fav Music Home</a></li>
          <li><a href="{% url 'fav_about' %}">About Page</a></li>
          <li><a href="{% url 'fav_and_opinion' %}">Favorite Songs & Opinions List</a></li>
          <li><a href="{% url 'fav_list' %}">Favorite Songs List</a></li>
          <li><a href="{% url 'opinion_list' %}">Opinion List</a></li>
          <li><a href="{% url 'fav_create' %}">Create a Favorite Song</a></li>
          <li><a href="{% url 'opinion_create' %}">Create an Opinion</a></li>
          <!-- <li><a href="{% url 'opinion_list' %}">API URLS Page</a></li>           -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->


      <div class="social-links">
        <a target="_blank" href="https://www.linkedin.com/in/batool-ragayah/" class="linkedin"><i class="bi bi-linkedin"></i></a>
        <a target="_blank" href="https://batoolblog.vercel.app/" class="blog"><i class="bi bi-book"></i></a>
        <a target="_blank" href="https://batoolragayah.hashnode.dev/" class="hashnode"><i class="bi bi-book"></i></a>
        <a target="_blank" href="https://medium.com/@batoolragayah" class="medium"><i class="bi bi-medium"></i></a>
      </div>

    </div>
  </header><!-- End Header -->

  {% block hero %}

    {% endblock %}

  <main id="main">

    {% block main %}

    {% endblock %}

  </main><!-- End #main -->