{% extends '_base.html' %}


{% block page_title %} Fav Details for {{fav.song_title}} {% endblock %}


{% block main %} 

<div class="card text-light bg-dark" style="width: 20rem;">
    <div class="card-body">
      <p class="card-text"> <b> Song Title: </b> {{fav.song_title}} </p>
      <p class="card-text"> <b> Artist: </b> {{fav.artist}} </p>
      <p class="card-text"> <b> Album: </b> {{fav.album}} </p>
      <p class="card-text"> <b> Year Of Release: </b> {{fav.year_of_release}} </p>
      <p class="card-text"> <b> Rating: </b> {{fav.rating}} </p>
      <p class="card-text"> <b> Reviewer: </b> {{fav.reviewer}} </p>
      <p class="card-text"> <b> ID: </b> {{fav.id}} </p>
    </div>

    <a href="{% url 'fav_update' fav.pk %}">Update Fav</a>
    <a href="/fav-delete/{{fav.id}}">Delete Fav</a>
  </div>



{% endblock %}