{% extends '_base.html' %}


{% block page_title %} Update Favorite Song {% endblock %}


{% block main  %}
<div class="container">
    <br>
    <form class='well form-horizontal' action="" method="POST">

        <fieldset>
            <legend>
                <h2><b>Updating A Favorite Song Form</b></h2>
            </legend>
            {% csrf_token %}
            <div class="form-group">
                {{form.as_p}}
            </div>

            <input type="submit" class="update-button" value="Update"></input>

    </form>
</div>



{% endblock %}