{% extends '_base.html' %}

{% block page_title %} Page {% endblock %}

{% block main %} 
Content for the fav & opinion Page


<br>

<br>

<h2> Favorite Songs  </h2>
<ul>
    {% for fav in favorite_list %}
    <div class="card text-light bg-dark" style="width: 35rem;">
        <h3 class="card-header">{{fav.song_title}}</h3>
        <div class="card-body">
          <p class="card-text">🠆 id number: {{fav.id}} </p>
        </div>
      </div>
      <br>
    {% endfor %}
</ul>

<br>

<br>

<br>

<h2> Favorite Opinions  </h2>

<ul>
    {% for opinion in opinion_list %}
    <div class="card text-light bg-dark" style="width: 35rem;">
        <h3 class="card-header">{{opinion.opinion}}  </h3>
        <div class="card-body">
          <p class="card-text">🠆 id number: {{opinion.id}} </p>
        </div>
      </div>
      <br>
    {% endfor %}
</ul>

{% endblock%}